.lancador {
  height: 100vh;
  overflow: hidden;
}

$contracheques-vh: calc(60vh);
$eventos-vh: calc(100vh - $contracheques-vh);

.contracheques {
  $mt: 2vh;
  $pb: 1rem;

  display: flex;
  flex-direction: column;

  margin-top: $mt;
  padding-bottom: $pb;
  height: calc($contracheques-vh - $mt);
}
.eventos {
  $mb: 2vh;

  display: flex;
  flex-direction: column;

  margin-bottom: $mb;
  height: calc($eventos-vh - $mb);
}
